{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome, {{ profile.name.title }}!</h1>
</div>

<div class="parent-container d-flex">
    <!-- PROFILE INFO CARD -->
    <div class="container col-3">
        <div class="card card-inverse card-info">
            <img class="card-img-top" src="{{ profile.image.url }}" alt="profile photo">
            <div class="card-block">
                <figure class="profile profile-inline">
                    <img src="{{ profile.image.url }}" class="profile-avatar" alt="profile photo">
                </figure>
                <h4 class="card-title">{{ profile.name.title }}</h4>
                <div class="card-text">
                    <p>Current city: {{ profile.current_city.title }}</p>
                    <p>Joined: {{ profile.join_date|date:"F j, Y" }}</p>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'profile_edit' profile.id %}">
                    <button class="btn btn-info btn-sm">Edit</button>
                </a>
                <a href="#">
                    <button class="btn btn-info btn-sm btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </div>
    <!-- END PROFILE INFO CARD -->

    <!-- POSTS LIST -->
    <div class="container col-8 posts-list">
        {% if profile.user.post_set.count == 0 %}
            <h4>{{ profile.name.title }} hasn't made any posts yet.</h4>
            <p><a class="btn btn-primary" href="{% url 'post_create' %}" role="button">Add Post</a></p>
        {% else %}
            {% for post in profile.user.post_set.all %}
                <div class="card mb-3" style="max-width: 700px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://picsum.photos/200/150/?random" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="{% url 'post_detail' post.id %}">
                                <h5 class="card-title post-title">{{ post.title }}</h5>
                                </a>
                                <p class="card-text">{{ post.body }}</p>
                                <p class="card-text"><small class="text-muted">Created {{ post.post_date|timesince }} ago</small></p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'post_edit' post.id %}"><button class="btn btn-info btn-sm">Edit</button></a>
                                <a href="{% url 'post_delete' post.id %}"><button class="btn btn-info btn-sm btn-danger delete-post-btn">Delete</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <script>$('.delete-post-btn').click(function(){return confirm(`Are you sure you want to delete this?`);})</script>
        {% endif %}
    </div>
    <!-- END POSTS LIST -->
</div>
{% endblock %}
