{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{ profile.name.title }}!</h1>
</div>

<div class="parent-container d-flex">
    <!-- PROFILE INFO CARD -->
    <div class="container col-3">
        <div class="card card-inverse card-info">
            <img class="card-img-top" src="{{ profile.image.url }}" alt="profile photo">
            <div class="card-block">
                <figure class="profile profile-inline">
                    <img src="{{ profile.image.url }}" class="profile-avatar" alt="profile photo">
                </figure>
                <h4 class="card-title">{{ profile.name.title }}</h4>
                <div class="card-text">
                    <p>Current city: {{ profile.current_city.title }}</p>
                    <p>Joined: {{ profile.join_date|date:"F j, Y" }}</p>
                </div>
            </div>
            {% if request.user.id == profile.id %} 
                <div class="card-footer" style="text-align:center;">
                    <a href="{% url 'profile_edit' profile.id %}">
                        <button class="btn btn-info btn-sm">Edit</button>
                    </a>
                    <a href="#">
                        <button class="btn btn-info btn-sm btn-danger">Delete</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- END PROFILE INFO CARD -->

    <!-- POSTS LIST -->
    <div class="container col-8 posts-list">
                <!-- Add post modal -->
                <button type="button" class="btn btn-primary btn-circle btn-xl float-right add-post-btn" data-toggle="modal" data-target="#createPostModal" title="Add a post"><i class="fas fa-plus"></i></button>
                <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createPostModalLabel">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="card" method="POST" action="{% url 'post_create' %}">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn wayfarer-btn" value="Share!">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $('#createPostModal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget) // Button that triggers the modal
                        var modal = $(this)
                        modal.find('.modal-title').text('Create a Post')
                    })
                </script>
                <!-- End add post modal -->
        
        

        {% if profile.user.post_set.count == 0 %}
            {% if request.user == profile.user %}
                <h4>You haven't made any posts yet.</h4>
            {% else %}
                <h4>{{ profile.name.title }} hasn't made any posts yet.</h4>
            {% endif %}
        {% else %}
            <h3>My Posts:</h3>
            {% for post in profile.user.post_set.all %}
                <div class="card mb-3" style="max-width: 700px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://picsum.photos/200/150/?random" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="{% url 'post_detail' post.id %}">
                                <h5 class="card-title post-title">{{ post.title }}</h5>
                                </a>
                                <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                                <p class="card-text"><small class="text-muted">Created {{ post.post_date|timesince }} ago</small></p>
                            </div>
                            {% if request.user.id == profile.id %} 
                                <div class="card-footer" style="text-align: right;">
                                    <a href="{% url 'post_edit' post.id %}">
                                        <button class="btn btn-info btn-sm" style="display: inline;">Edit</button>
                                    </a>
                                    <form class="delet-me-now" action="{% url 'post_delete' post.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                        <button class="btn btn-info btn-sm btn-danger delete-post-btn" style="display:inline;">Delete</button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>$('.delete-post-btn').click(function(e){
                e.preventDefault();
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this post!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        $('.delet-me-now').submit()
                    }
                });
            })</script>
        {% endif %}
    </div>
    <!-- END POSTS LIST -->
</div>


{% endblock %}
