{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Edit {{ profile.name.title }}'s Profile</h1>
</div>

<!-- Edit profile form -->
<div class="parent-container d-flex">
    <div class="form-group container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                {% if error %}
                    <p style="background-color:firebrick;">{{error}}</p>
                {% endif %}
                <form class="card align-items-center p-4" method="POST" action="{% url 'profile_edit' profile.user_id %}">
                    {% csrf_token %}
                    {{ profile_form.as_p }}
                    <button type="submit" class="btn wayfarer-btn">Update Profile</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Upload profile photo form -->
    <div class="form-group container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <h3 class="mt-2">Upload a Profile Photo</h3>
                <hr class="mt-0 mb-4">
                {% if error %}
                    <p style="background-color:firebrick;">{{error}}</p>
                {% endif %}
                <form class="card align-items-center p-4" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="profile_image" />
                    <button type="submit" class="btn wayfarer-btn">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}