{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Edit {{ profile.name.title }}'s Profile</h1>
</div>

<!-- Edit profile form -->
<div class="parent-container d-flex" style="margin-top:20px;">
    <div class="form-group container">
        <div class="row justify-content-center">
            <div class="col-sm" style="min-width: 25%; max-width: 50%;">
                {% if error %}
                    <p style="background-color:firebrick;">{{error}}</p>
                {% endif %}
                <form class="card align-items-center p-4" enctype="multipart/form-data" method="POST" action="{% url 'profile_edit' profile.id %}">
                    {% csrf_token %}
                    {{ profile_form.as_table}}
                    <button type="submit" class="btn wayfarer-btn" style="margin-top:20px;">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
