{% extends 'base.html' %}

{% block content %}
<div class="big-container">
    <div class='posts-container'>

        <div class='sidebar-left'>
            <div class="sidebar-header">
                <h1 class='sidebar-name'>Cities</h1>
            </div>
            <ul class="list-unstyled components sidebar">
                <li class="sidebar-item">
                    <div><a href="#"><img class="sidebar-btn" src="https://i.ibb.co/gFYN5Kx/image.png">San Francisco</a></div>
                </li>
                <li class="sidebar-item">
                    <div><a href="#"><img class="sidebar-btn" src="https://i.ibb.co/L6sDrKf/image.png">London</a></div>
                </li>
                <li class="sidebar-item">
                    <div><a href="#"><img class="sidebar-btn" src="https://i.ibb.co/ZKzYfsP/image.png">Gabraltar</a></div>
                </li>
            </ul>
        </div>


        <div class='postspage-right'>
            <h1 class="posts-header">Most Recent Posts</h1>
            <ol>
            {% for city in cities %}
                <li> {{ city }} </li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

