{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class='all-posts-container flex'>
    <!-- Start cities sidebar menu -->
    <div class='sidebar-left'>
        <div class="sidebar-header">
            <h1 class='sidebar-name'>Cities</h1>
        </div>
        <ul class="list-unstyled components sidebar">
        {% for city in cities %}
            <li class="sidebar-item">
                <a href="{% url 'cities_show' city.slug %}" class="cities-name-link">
                <div class="sidebar-btn justify-content-center"><img height="80" src="{{ city.image }}"></div>
                <div class="sidebar-cities-name">{{ city.name }}</div></a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <!-- End cities sidebar menu -->


    <div class='all-posts-right'>
        <!-- Add post modal -->
         {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-primary btn-circle btn-xl float-right add-post-btn" data-toggle="modal" data-target="#createPostModal" title="Add a post"><i class="fas fa-plus"></i></button>
        <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPostModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'post_create' %}?next={{ next_url }}" validate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <script>$('p').remove('.invalid-feedback');$('.is-invalid').removeClass('is-invalid')</script>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn wayfarer-btn" value="Share!">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#createPostModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggers the modal
                var modal = $(this)
                modal.find('.modal-title').text('Create a Post')
            })
        </script>
        {% endif %}
        <!-- End add post modal -->

        <!-- List of recent posts -->
        <h1 class="posts-header">Most Recent Posts...</h1>
            <ul>
                {% for post in posts %}
                    <div class="card mb-3 profile-posts-list">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ post.user.profile.image.url }}" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{% url 'post_detail' post.id %}">
                                        <h5 class="card-title post-title">{{ post.title }} </h5>
                                    </a>
                                    <a href="{% url 'cities_show' post.city.slug %}">
                                        <h7 class="post-city"><small>{{ post.city }}</small></h7>
                                    </a>
                                    <p class="card-text">{{ post.body|truncatewords:30 }}</p>
                                    {% if post.body|length >= 50 %}
                                <a href="{% url 'post_detail' post.id %}">Read more...</a>
                                {%endif%}</p>
                                    <p class="card-text">
                                        <small class="text-muted">Submitted {{ post.post_date|timesince }} ago by <a href="{% url 'profile_detail' post.user.profile.slug %}">{{post.user.profile.name}}</a>
                                        </small></p>
                                        {% if request.user.id == post.user.id %}
                                        <div class="btn" id="profile-posts-buttons">
                                            <a href="{% url 'post_edit' post.id %}">
                                                <button class="btn btn-info btn-sm" style="display: inline;">Edit</button>
                                            </a>
                                            <form class="delete-me-now-{{post.id}} ml-2" action="{% url 'post_delete' post.id %}?next={{ next_url }}" method="POST" style="display: inline;">
                                                {% csrf_token %}
                                                <button class="btn btn-info btn-sm btn-danger delete-post-btn-{{post.id}}" style="display:inline;">Delete</button>
                                            </form>
                                        </div>
                                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                                        <script>$('.delete-post-btn-{{post.id}}').click(function(e){
                                            e.preventDefault();
                                            swal({
                                                title: "Are you sure?",
                                                text: "Once deleted, you will not be able to recover this post!",
                                                icon: "warning",
                                                buttons: true,
                                                dangerMode: true,
                                            })
                                            .then((willDelete) => {
                                                if (willDelete) {
                                                    $('.delete-me-now-{{post.id}}').submit()
                                                }
                                            });
                                        })</script>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}

            {% if posts.has_other_pages %}
                <div class="pagination-container">
                    {% if posts.has_previous %}
                        <div class="pagination-pages"><a href="?page={{ posts.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a></div>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <div class="pagination-pages">{{ i }} </div>
                    {% else %}
                        <div class="pagination-pages"><a href="?page={{ i }}">{{ i }}</a></div>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <div class="pagination-pages"><a href="?page={{ posts.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a></div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <!-- End list of recent posts -->
    </div>
</div>


{% endblock %}
