/* .big-container{
    padding-left: 10%;
} */

.all-posts-container {
    display: flex;
    min-height: 70vh;
    margin: auto;
    width: 90%;
}


/* SIDEBAR */

.sidebar-left{
    margin-top: 50px;
    max-width: 300px;
    flex: 1 auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    min-height: 70vh;
    max-height: 80vh;
    background-color:whitesmoke;
    border-radius: 15px;
}

.sidebar-item{
    margin: 50px auto;

}

.sidebar-btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto 20px;
}

/* ALL-POSTS INDEX */
.all-posts-right{
    margin: 50px 20px;
    flex: 8 auto;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 20px;
    min-height: 70vh;
}

ul {
    list-style-type: none;
}

.add-post-btn {
    background-color: #F72AEE;
    border: 0;
    border-radius: 50%;
}

.add-post-btn:hover {
    background-color: #FF9C20;
    border: 0;
}

.create-form-modal{
    padding: 10px 20px;
}

.post-page-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 20px;
}

.list-each-post-index{
    display: flex;
    margin-top: 20px;
    max-height: 500px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
}

.list-each-post-profile {
    max-width: 500px;
    max-width: 50%;

}

.post-show-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    opacity: 80%;
    padding: 20px;
}

.posts-title {
    flex: 7;
    min-width: 100%;
    max-width: 50%;
    padding: 20px;
}

.posts-index-title{
    margin-bottom: 10px;
    color: #0071FF;
}

.pagination-container{
    display: flex;
}
.pagination-pages{
    margin: auto 20px;
}


/* POST DETAIL / SHOW PAGE */

.post-detail-right{
    margin: 50px 20px;
    flex: 8 auto;
    justify-content: center;
    padding: 20px;
    min-height: 70vh;
    text-align: center;
    background-color:whitesmoke;
    border-radius: 15px;
    display: flex;
}

.post-show-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    opacity: 80%;
}


.comment-form-container{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10%;
    border-radius: 15px;
}

#comments-show-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 80%;
    margin: 50px;
}

#comments-show{
    justify-content: center;
    text-align: left;
    margin: 10px auto;
}


.post-detail-image{
    min-width: 100%;
    min-height: 300px;
    max-height: 300px;
    padding: 50% auto;
    justify-content: center;
    border-radius: 15px;
}

.post-detail-image>h1 {
    margin-top: 15%;
    color: white;
}

.post-detail-body{
    background-color:white;
    border-radius: 15px;
    min-height: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.post-detail-body>h5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab, .fas{
    font-size: 20px;
    letter-spacing: 5px;
}

.btn-circle.btn-xl {
    width: 55px;
    height: 55px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.fa-plus {
    letter-spacing: 0;
    font-size: 25px;
}
