{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
</div>

<div class="about-me-div-1 text-center">
<header>
    <div style="display: block; min-height: 300px;">
      <h1 class="mb-1 animate__animated animate__rubberBand animate__repeat-3	3">We Bring the World to You!</h1>
      <h3 class="mb-5">
        <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#missions">Our Missions</a>
    </div>
    <div class="overlay"></div>
  </header>
</div>

<!-- -------------- MAP ---------------- -->
<div id='map' width="100%" style='height:600px'></div>
   <script>
    mapboxgl.accessToken = "pk.eyJ1IjoiZ2F3YXlmYXJlciIsImEiOiJja2czZXhxenYwOTdhMnFsd2hqNGdteGpiIn0.7kaVmm00I3FI1CXdKzZ4pQ";
    var map = new mapboxgl.Map({
     container: 'map',
     style: 'mapbox://styles/mapbox/streets-v10',
     center: [-10, 40],
    zoom: 1.0
    });

var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [0.127, 51.507]
    },
    properties: {
      title: 'Mapbox',
      description: 'London, UK.',
      html: 'cities/london'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'Mapbox',
      description: 'San Francisco, USA',
      html: 'cities/san-francisco',
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [139.769, 35.680]
    },
    properties: {
      title: 'Mapbox',
      description: 'Tokyo, Japan',
      html: 'cities/tokyo',
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-5.353, 36.140]
    },
    properties: {
      title: 'Mapbox',
      description: 'Gibraltar, BOT',
      html: 'cities/Gibraltar'
    }
  }]
};


// add markers to map
geojson.features.forEach(function(marker) {

// create a HTML element for each feature
    var el = document.createElement('div');
    el.className = 'marker';

// make a marker for each feature and add to the map
new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<a href="' + marker.properties.html + '"><h5>' + marker.properties.description + '</h5></a>'))
    .addTo(map);

});
</script>

<!-- -------------- END OF MAP ---------------- -->


<!-- About -->
<div class=" text-center" style="display: block; min-height: 300px; background-color: #F72AEE; padding: 10%">
    <div class="row">
    <div class="col-lg-10 mx-auto">
        <h2 style="color:white" class="animate__animated animate__wobble">Start saving your travel ideas!</h2>
        <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>!</p>
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#visions">Our Visions</a>
    </div>
    </div>
</div>



{% endblock %}
