{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<a id="top"></a>
<div class='all-posts-container flex'>
    <!-- Start cities sidebar menu -->
    <div class='sidebar-left'>
        <div class="sidebar-header">
            <h1 class='sidebar-name'>ERRORS</h1>
        </div>
        <ul class="list-unstyled components sidebar">
        {% for city in cities %}
            <li class="sidebar-item">
                <div><a href="{% url 'cities_show' city.slug %}" class="cities-name-link"><img class="sidebar-btn" src="{{ city.image }}">{{ city.name }}</a></div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <!-- End cities sidebar menu -->

 <div class='post-detail-right flex'>
  <div class="post-show-container">
      {% if errors %}
      <div class="alert alert-danger" role="alert">{{ errors }}</div>
      {% endif %}

      <button onclick="goBack()">Go Back</button>

      <script>
      function goBack() {
        window.history.back();
      }
      </script>
  </div>
</div>

{% endblock %}
