{% extends 'base.html' %}

{% block content %}

    <div class='posts-container'>

        <div class='sidebar-left'>
            <div class="sidebar-header">
                <h1 class='sidebar-name'>Cities</h1>
            </div>
            <ul class="list-unstyled components sidebar">
                <li class="sidebar-item">
                    <div><a href="#"><img class="sidebar-btn" src="https://i.ibb.co/gFYN5Kx/image.png">San Francisco</a></div>
                </li>
                <li class="sidebar-item">
                    <div><a href="#"><img class="sidebar-btn" src="https://i.ibb.co/L6sDrKf/image.png">London</a></div>
                </li>
                <li class="sidebar-item">
                    <div><a href="#"><img class="sidebar-btn" src="https://i.ibb.co/ZKzYfsP/image.png">Gibraltar</a></div>
                </li>
            </ul>
        </div>


        <div class='post-detail-right'>
            <!-- Add name of the city for this post here -->
            <div class="post-detail"><img src="https://i.ibb.co/gFYN5Kx/image.png"></div>
            <div class="post-detail-title"><h1>{{ post.title }} </h1></div>
            <div class="post-detail-info"><p>Published by <a href="{% url 'profile_detail' post.user.id %}">{{ profile.name.title }}</a>, {{ post.post_date|timesince }} ago </p></div>
            <div class="post-detail-title"><h5>{{ post.body }} </h5></div>
        </div>
    </div>

{% endblock %}

